@model IEnumerable<R61M614_Mid06Evd.Models.Category>
@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("create","Create","Default")
<h2>Category</h2>

<div id="tablediv">
    @Html.Action("Category")
</div>